.filter-navigate {
  &__wrapper {
    &--column {
      display: flex;
      flex-direction: column;
    }

    &--gap {
      gap: 1.8rem;
    }

    .cards-row__row {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2.4rem;
      justify-content: start;

      @include max-width($breakpoint-xs) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
      }
    }

    .card__container {
      max-width: 100%;
    }
  }

  &__button {
    margin-top: 2rem;
    text-align: center;
  }
}
