.publications {
  &__slide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    overflow: hidden;
    border-radius: 0.6rem;

    &--play {
      position: relative;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        width: 2.8rem;
        height: 3.6rem;
        content: '';
        background-image: url('../img/svg/play.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition-duration: 0.3s;
        transform: translate(-50%, -50%) scale(1);
        transform-origin: center center;

        @include max-width($breakpoint-xxs-3) {
          width: 2.2rem;
          height: 3rem;
        }
      }
    }

    &--play-more {
      position: relative;
      width: 100%;
      height: 100%;

      .top-slider__picture {
        opacity: 0;
      }

      background: linear-gradient(
        135deg,
        rgba(223, 62, 220, 0.15) 0%,
        rgba(223, 62, 220, 0.15) 20%,
        rgba(223, 62, 220, 0.05) 100%
      );
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: translate(-50%, -50%) scale(1.11);
        }

        .publications__decor {
          transform: translateX(0.1rem) scale(1.11);
        }
      }
    }
  }

  &__heading {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;

    @include max-width($breakpoint-xxs-3) {
      max-width: 95%;
    }
  }

  &__row {
    .slider-btn__button {
      top: 39%;

      @include max-width($breakpoint-md) {
        top: 33%;
      }
    }

    .slider-btn__button--next {
      right: 0.8rem;
    }
    .slider-btn__button--prev {
      left: 0.8rem;
    }
  }

  &__more-text {
    position: absolute;
    top: 55%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    transform: translate(-50%, -50%);

    @include max-width($breakpoint-xxs-3) {
      font-size: 1rem;
    }
  }

  &__decor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--accent-gray);
    border-radius: 1.6rem;
    transition-duration: 0.3s;

    svg {
      width: 1.7rem;
      height: 1.3rem;
      transition-duration: 0.3s;
      transform: translateX(0.1rem) scale(1);
      transform-origin: center center;
    }

    @include max-width($breakpoint-xxs-3) {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 1.2rem;
    }
  }
}
