<span class="feedback-stars__stars" data-add-raiting="3">
	<span class="feedback-stars__star" data-star="1">{{> ui/svg id="star"}}</span>
	<span class="feedback-stars__star" data-star="2">{{> ui/svg id="star"}}</span>
	<span class="feedback-stars__star" data-star="3">{{> ui/svg id="star"}}</span>
	<span class="feedback-stars__star" data-star="4">{{> ui/svg id="star"}}</span>
	<span class="feedback-stars__star" data-star="5">{{> ui/svg id="star"}}</span>
</span>