<div class="rating">
	<div class="rating__wrapper {{#if center}}rating__wrapper--{{center}}{{/if}} rait-parent-js" data-first-rait="3"
		data-active-star="star2" data-unactive-star="star-unactive">
		<span class="rating__star rait-star-js" data-raiting="1">
			{{> ui/svg id="star2" class="star-svg-js"}}
		</span>
		<span class="rating__star rait-star-js" data-raiting="2">
			{{> ui/svg id="star2" class="star-svg-js"}}
		</span>
		<span class="rating__star rait-star-js" data-raiting="3">
			{{> ui/svg id="star2" class="star-svg-js"}}
		</span>
		<span class="rating__star rait-star-js" data-raiting="4">
			{{> ui/svg id="star2" class="star-svg-js"}}
		</span>
		<span class="rating__star rait-star-js" data-raiting="5">
			{{> ui/svg id="star2" class="star-svg-js"}}
		</span>
	</div>
</div>