<div class="banner">
	<div class="banner__container swiper swiper--overflow banner-js">
		<div class="banner__wrapper swiper-wrapper banner-wrapper-js">
			<div class="swiper-slide banner-slide-js">
				<picture class="banner__picture">
					<source media="(max-width: 360px)" srcset="../../img/banners/fon3.webp">
					<source media="(max-width: 480px)" srcset="../../img/banners/fon2.webp">
					<source srcset="../../img/banners/fon1.webp">
					<img srcset="../../img/banners/fon1.jpg" alt="Рекламное изображение">
				</picture>
			</div>
			<div class="swiper-slide banner-slide-js">
				<picture class="banner__picture">
					<source media="(max-width: 360px)" srcset="../../img/banners/fon3.webp">
					<source media="(max-width: 480px)" srcset="../../img/banners/fon2.webp">
					<source srcset="../../img/banners/fon1.webp">
					<img srcset="../../img/banners/fon1.jpg" alt="Рекламное изображение">
				</picture>
			</div>
			<div class="swiper-slide banner-slide-js">
				<picture class="banner__picture">
					<source media="(max-width: 360px)" srcset="../../img/banners/fon3.webp">
					<source media="(max-width: 480px)" srcset="../../img/banners/fon2.webp">
					<source srcset="../../img/banners/fon1.webp">
					<img srcset="../../img/banners/fon1.jpg" alt="Рекламное изображение">
				</picture>
			</div>
			<div class="swiper-slide banner-slide-js">
				<picture class="banner__picture">
					<source media="(max-width: 360px)" srcset="../../img/banners/fon3.webp">
					<source media="(max-width: 480px)" srcset="../../img/banners/fon2.webp">
					<source srcset="../../img/banners/fon1.webp">
					<img srcset="../../img/banners/fon1.jpg" alt="Рекламное изображение">
				</picture>
			</div>
		</div>
		<div class="slider-paginate slider-paginate--absolute banner-pagination-js"></div>
	</div>
</div>