<div class="blur scroll-active-js">
	<picture class="blur__left">
		<source media="(max-width: 480px)" srcset="../../img/bg/blur-l-mob.png">
		<source srcset="../../img/bg/blur-l.png">
		<img srcset="../../img/bg/blur-l.png" alt="Декоративный элемент">
	</picture>
	<div class="blur__right">
		<img src="../../img/bg/blur-r.png" alt="Декоративный элемент">
	</div>
</div>