<div class="brand">
	<div class="brand__wrapper">
		<div class="brand__inner">
			<div class="brand__head">Бренд</div>
			<div class="brand__body">
				<p class="brand__paragraf brand__paragraf--over">Zelex — китайская компания, специализирующаяся на разработке и
					производстве супер
					реалистичных секс-кукол из силикона. Бренд Зелекс был создан в 2017 году. На данный момент фабрика занимает
					более 3000 квадратных метров на которых расположены собственные отделы:</p>
				<ul class="brand__list">
					<li class="brand__list-item brand__list-item--over">Дизайна (включая 3D-дизайн, лепку, дизайн макияжа, дизайн
						и
						укладку волос)
						Исследо</li>
				</ul>
				<button class="button button--null button--text-gradient brand__link-more"
					data-modal-target="#modal-brand">Подробнее о
					бренде
					{{> ui/svg
					id="arr-gradient"}}</button>
			</div>
		</div>
	</div>
</div>