<div class="card-info">
	<div class="card-info__wrapper">
		{{> components/product-title}}
		<div class="card-info__body">
			{{> components/options}}
			{{> components/specifications}}
			{{> components/brand}}
		</div>
	</div>
</div>