<div class="card-slider">
	<div class="card-slider__main">
		<div class="card-slider__container card-slider__container--btn swiper swiper--overflow page-card-slider-js">
			<div class="card-slider__wapper swiper-wrapper">
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
			</div>
			{{> ui/slider-btn classPrev="page-card-prev-js" classNext="page-card-next-js" common="page-card"
			absolute="absolute"}}
			<div
				class="card-slider__paginate slider-paginate slider-paginate--mobile slider-paginate--absolute page-card-pagination-js">
			</div>
		</div>
	</div>
	<div class="card-slider__thumb">
		<div class="card-slider__container swiper page-card-thumb-slider-js">
			<div class="card-slider__wrapper swiper-wrapper">
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
				<div class="card-slider__slide swiper-slide">
					<picture class="card-slider__picture">
						<source srcset="../../img/product/page-card/prod-card.webp">
						<img srcset="../../img/product/page-card/prod-card.jpg" alt="Изображение продукта">
					</picture>
				</div>
			</div>
		</div>
	</div>
</div>