<ul class="catalog-links">
	<li class="catalog-links__item"><a href="#" class="catalog-links__link">Секс куклы</a></li>
	<li class="catalog-links__item"><a href="#" class="catalog-links__link">Мастурбаторы</a></li>
	<li class="catalog-links__item"><a href="#" class="catalog-links__link">Аксессуары</a></li>
	<li class="catalog-links__item"><a href="#" class="catalog-links__link">Смазки/Лубриканты</a></li>
</ul>