<div class="categories">
	<div class="categories__body" data-categories-parent>
		{{> components/category text="Реалистичные"}}
		{{> components/category text="C пышными формами"}}
		{{> components/category text="Японские"}}
		{{> components/category text="Реалистичные"}}
		{{> components/category text="C пышными формами"}}
		{{> components/category text="Японские"}}
	</div>
</div>