{{#if radio}}
<label class="radio2">
	<input class="radio2__input" type="radio" {{#if disabled}}disabled{{/if}} name="{{name}}">
	<div class="radio2__wrap">
		<div class="radio2__custom"> </div>
	</div>
</label>
{{else}}
{{/if}}