<div class="delivery">
	<div class="delivery__wrapper">
		<div class="delivery__top">
			<div class="delivery__head">Доставка по Москве</div>
			<p class="delivery__paragraf">Жителям Москвы покупки привозит курьер: <span class="delivery__paragraf-weight">с
					10:00 до 22:00 без выходных.</span></p>
			<p class="delivery__paragraf">Оплатить товар можно наличным (при получении) или безналичным способом (денежный
				перевод в любом отделении Сбербанка).</p>
			<p class="delivery__paragraf">После оформления заказа на сайте вам позвонит менеджер Службы доставки, чтобы
				согласовать удобное время для встречи. Если не можете принять курьера в оговоренные сроки, просим предупредить
				нас об этом не позже чем за 2 часа.</p>
			<p class="delivery__paragraf">Стоимость курьерской доставки игрушек (или их комплектующих) до 15 000 р. — 500
				рублей.</p>
			<p class="delivery__paragraf">При заказе любой куклы пересылка БЕСПЛАТНО!</p>
		</div>

		<div class="delivery__middle">
			<div class="delivery__middle-head">Для клиентов из других регионов РФ предусмотрены следующие решения:</div>
			<ul class="delivery__list">
				<li class="delivery__list-item">
					<div class="delivery__company">EMS Почта России</div>
					<div class="delivery__notice">Оптимально для небольших покупок с чеком до 45 000 руб.</div>
					<div class="delivery__pay">Способ оплаты: наложенный платеж, банковский перевод</div>
				</li>
				<li class="delivery__list-item">
					<div class="delivery__company">ТК «Деловые Линии»</div>
					<div class="delivery__notice">Надежный вариант доставки посылок стоимостью 45 000 р. и выше</div>
					<div class="delivery__pay">Способ оплаты: банковский перевод</div>
				</li>
			</ul>
		</div>

		<div class="delivery__bottom">
			<p class="delivery__paragraf">При выборе куклы, которой нет на складе, мы размещаем заказ на одной из фабрик Китая
				только после внесения предоплаты — <span class="delivery__paragraf-weight">10% от итоговой суммы (перевод,
					наличные).</span></p>
			<div class="delivery__deadlines-box">
				<div class="delivery__deadlines">Сроки доставки</div>
				<p class="delivery__paragraf">Москвичам товары с пометкой «в наличии» доставляются <span
						class="delivery__paragraf-weight">на следующий рабочий день.</span> Покупатели из других регионов получат
					свою
					посылку в течение нескольких суток (точное время узнавайте у менеджера). Куклы под заказ прибывают через 6—8
					недель с момента оформления заявки. Подробнее об условиях доставки и оплаты читайте здесь.</p>
			</div>
		</div>
	</div>
</div>