<div class="feedback">
	<div class="feedback__wrapper">
		<ul class="feedback__list">
			<li class="feedback__item">
				<div class="feedback__first">
					<div class="feedback__person">
						<span class="feedback__nikname">Никнейм</span>
						<span class="feedback__date">20.04.2024</span>
					</div>
					<div class="feedback__stars">
						{{> ui/feedback-stars}}
					</div>
					<div class="feedback__expereance">
						Опыт использования: <span class="feedback__expereance-time">Больше года</span>
					</div>
				</div>
				<div class="feedback__plusminus">
					<div class="feedback__plus">
						{{> ui/svg id="feedback-plus"}}
						<span class="feedback__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc viverra
							ma</span>
					</div>
					<div class="feedback__minus">
						{{> ui/svg id="feedback-minus"}}
						<span class="feedback__text"> Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut
							ut
							gravida fames Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut gravida
							fames</span>
					</div>
				</div>
				<div class="feedback__after">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc viverra
					magna
					mauris at enim. Imperdiet nulla gravida </div>
			</li>
			<li class="feedback__item">
				<div class="feedback__first">
					<div class="feedback__person">
						<span class="feedback__nikname">Никнейм</span>
						<span class="feedback__date">20.04.2024</span>
					</div>
					<div class="feedback__stars">
						{{> ui/feedback-stars}}
					</div>
					<div class="feedback__expereance">
						Опыт использования: <span class="feedback__expereance-time">Больше года</span>
					</div>
				</div>
				<div class="feedback__plusminus">
					<div class="feedback__plus">
						{{> ui/svg id="feedback-plus"}}
						<span class="feedback__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc viverra
							ma</span>
					</div>
					<div class="feedback__minus">
						{{> ui/svg id="feedback-minus"}}
						<span class="feedback__text"> Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut
							ut
							gravida fames Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut gravida
							fames</span>
					</div>
				</div>
				<div class="feedback__after">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nunc viverra
					magna
					mauris at enim. Imperdiet nulla gravida </div>
			</li>
		</ul>
		<div class="feedback__write">
			<div class="feedback__write-btn">
				<button class="button button--type2 text-uppercase feedback-btn-js">{{> ui/svg id="message"}} Оставить
					отзыв</button>
			</div>
			{{> components/write class="write-feedback-js"}}
		</div>
	</div>
</div>