<label class="checkbox">
	<input class="checkbox__input" type="checkbox" />
	<div class="checkbox__wrap">
		<div class="checkbox__custom">
			<svg class="checkbox__icon">
				<use xlink:href="svg/sprite.svg#done"></use>
			</svg>
		</div>
		<p class="checkbox__text">
			{{text}} (<span>6</span>)
		</p>
	</div>
</label>