<div class="filter-navigate">
	<div class="filter-navigate__wrapper filter-navigate__wrapper--column filter-navigate__wrapper--gap">
		{{> components/categories }}
		{{> components/arrange mod="flex" type1="true"}}
		{{> components/cards-row flex="flex" newProductsModal="true" newProducts14="true" emptyHead="true"}}
		<div class="filter-navigate__button">
			<button class="button button--card" type="button">
				<span class="button--text-gradient">Показать все</span>
			</button>
		</div>
	</div>
</div>