<div class="have-images">
	{{#if difrent}}
	<div class="have-images__body">
		<picture class="have-images__picture">
			<source srcset="../../img/onhand/onhand2.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand2.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source srcset="../../img/onhand/onhand2.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand2.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source srcset="../../img/onhand/onhand2.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand2.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source srcset="../../img/onhand/onhand2.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand2.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source srcset="../../img/onhand/onhand2.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand2.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source srcset="../../img/onhand/onhand2.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand2.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source srcset="../../img/onhand/onhand2.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand2.jpg" alt="Изображение продукта">
		</picture>
	</div>
	{{else}}
	<div class="have-images__body">
		<picture class="have-images__picture">
			<source media="(max-width: 768px)" srcset="../../img/onhand/onhand288.webp" type="image/webp">
			<source srcset="../../img/onhand/onhand.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source media="(max-width: 768px)" srcset="../../img/onhand/onhand288.webp" type="image/webp">
			<source srcset="../../img/onhand/onhand.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source media="(max-width: 768px)" srcset="../../img/onhand/onhand288.webp" type="image/webp">
			<source srcset="../../img/onhand/onhand.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source media="(max-width: 768px)" srcset="../../img/onhand/onhand288.webp" type="image/webp">
			<source srcset="../../img/onhand/onhand.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source media="(max-width: 768px)" srcset="../../img/onhand/onhand288.webp" type="image/webp">
			<source srcset="../../img/onhand/onhand.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source media="(max-width: 768px)" srcset="../../img/onhand/onhand288.webp" type="image/webp">
			<source srcset="../../img/onhand/onhand.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand.jpg" alt="Изображение продукта">
		</picture>
		<picture class="have-images__picture">
			<source media="(max-width: 768px)" srcset="../../img/onhand/onhand288.webp" type="image/webp">
			<source srcset="../../img/onhand/onhand.webp" type="image/webp">
			<img srcset="../../img/onhand/onhand.jpg" alt="Изображение продукта">
		</picture>
	</div>
	{{/if}}
</div>