<div class="materials">
	<div class="materials__inner">
		<div class="materials__video-box">
			<video id="" class="video materials__video" controls="" poster="../../video/poster.jpg" controlsList="nodownload">
				<source src="../../video/video.webm" class="video__sourse" type='video/webm'>
				<source src="../../video/video.mp4" class="video__sourse" type='video/mp4'>
			</video>
		</div>
		<div class="materials__about">
			<div class="materials__head">ZELEX: новая SLE коллекция. Удовольствие – это так просто!</div>
			<p class="materials__pragraf">Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut
				gravida fames Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut gravida fames
				Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut gravida fames Cum eget aliquam
				mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut gravida fames Cum eget aliquam mauris dui
				facilisi turpis orci. Augue amet, morbi pretium ut ut gravida fames Cum eget aliquam mauris dui facilisi turpis
				orci. Augue amet, morbi pretium ut ut gravida fames</p>
			<p class="materials__pragraf">Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut
				gravida fames Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut gravida fames
				Cum eget aliquam mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut gravida fames Cum eget aliquam
				mauris dui facilisi turpis orci. Augue amet, morbi pretium ut ut gravida fames Cum eget aliquam mauris dui
				facilisi turpis orci. Augue amet, morbi pretium ut ut gravida fames Cum eget aliquam mauris dui facilisi turpis
				orci. Augue amet, morbi pretium ut ut gravida fames</p>
		</div>
	</div>
</div>