<section class="default-section default-section--bg-dark default-section--prefooter">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner">
				<div class="prefooter">
					<div class="prefooter__wrapper">
						{{> components/cards-row publications="true" modInner="gap" countNum="0" modTitle="font"
						modTitleColor="color"
						titleText="Статьи" button="true"}}
						{{> components/cards-row publicationsVideo="true" modInner="gap" countNum="0" modTitle="font"
						modTitleColor="color"
						titleText="Видеообзоры"
						button="true"}}
						{{> components/cards-row publications="true" modInner="gap" countNum="0" modTitle="font"
						modTitleColor="color"
						titleText="Фотообзоры" button="true"}}
					</div>
					{{> components/banner-static}}
				</div>
			</div>
		</div>
	</div>
</section>