<div class="product-title">
	<div class="product-title__wrapper">
		<div class="product-title__operate">
			{{> components/have haveType="true"}}
			<div class="product-title__favorites">
				<button class="button button--null product-title__comparison favorite-card-js"></button>
				<button class="button button--null product-title__heart favorite-card-js"></button>
			</div>
		</div>
		<div class="product-title__named">Секс кукла Meril 172 SLE Silicone</div>
		<div class="product-title__count">
			<span class="product-title__count-price">123 500</span>
			<span class="product-title__count-currency">₽</span>
		</div>
	</div>
</div>