<div class="publications">
	<div class="publications__body">
		<div class="publications__row swiper swiper--overflow public-js">
			<div class="publications__container swiper-wrapper">
				{{#if video}}
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link publications__link--play">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link publications__link--play">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link publications__link--play">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link publications__link--play">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link publications__link--play">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link publications__link--play">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link publications__link--play-more">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
							<span class="publications__more-text">
								<span class="publications__decor">{{> ui/svg id="next"}}</span>
								Больше видео
							</span>
						</a>
					</div>
				</div>
				{{else}}
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				<div class="publications__slide swiper-slide">
					<div class="publications__content">
						<a href="#" class="publications__link">
							<picture class="top-slider__picture">
								<source srcset="../../img/publications/publish.webp">
								<img srcset="../../img/publications/publish.jpg" alt="Изображение к статье">
							</picture>
						</a>
					</div>
					<div class="publications__heading">
						ZELEX: новая SLE коллекция. Удовольствие – это так просто!
					</div>
				</div>
				{{/if}}
			</div>
			{{> ui/slider-btn mod="top" classPrev="btn-prev-js" classNext="btn-next-js"
			absolute="absolute" }}
		</div>
	</div>
</div>