<div class="search-item">
	<div class="search-item__image">
		<picture class="search-item__picture">
			<source srcset="../../img/search/search-image.webp">
			<img srcset="../../img/search/search-image.jpg" alt="Изображение куклы">
		</picture>
	</div>
	<div class="search-item__info">
		<div class="search-item__head">Секс кукла Кейт 165 с гигантской грудью</div>
		<div class="search-item__container">
			{{> components/have inStock="true"}}
			<div class="search-item__price">
				<span class="search-item__count">123 500</span> <span class="search-item__curency">₽</span>
			</div>
		</div>
	</div>
</div>