<div class="user-actions">
	<div class="user-actions__wrapper">
		<div class="user-actions__total">
			<span class="user-actions__total-count">123 500</span>
			<span class="user-actions__total-currency">₽</span>
		</div>
		<div class="user-actions__buttons">
			<button class="button button--null button--user-actions user-actions__to-cart">{{> ui/svg
				id="cart-black"}} В
				корзину</button>
			<button class="button button--null button--user-actions user-actions__favorite active">{{> ui/svg
				id="favorite-black"}} В
				избранные</button>
			<button class="button button--null button--user-actions user-actions__comparison">{{> ui/svg
				id="comparison"}}
				Сравнить</button>
			<button class="button button--null button--user-actions user-actions__feedback">{{> ui/svg
				id="feedback"}}
				Оставить отзыв</button>
		</div>
	</div>
</div>