<div class="video-block">
	<div class="video-block__wrapper">
		<h3 class="h3 video-block__title">Видео</h3>

		<div class="video-block__content">
			<video id="video" class="video video-block__video" controls="" poster="../../video/poster.jpg"
				controlsList="nodownload">
				<source src="../../video/video.webm" class="video__sourse" type='video/webm'>
				<source src="../../video/video.mp4" class="video__sourse" type='video/mp4'>
			</video>
		</div>
	</div>
</div>