<!-- footer -->
<footer class="footer">
	<div class="container">
		<!-- wrap -->
		<div class="footer__wrap {{#if noborder}}footer__wrap--{{noborder}}{{/if}}">
			<div class="footer__content">
				<div class="footer__linkster">
					<div class="footer__linkster-item">
						{{> ui/button mode="catalog-drop-footer" className="category-btn-js" textClass="" icon="arrow-right"
						text="Каталог"}}
						<div class="footer__link-list-box">
							<ul class="footer__link-list">
								<li class="footer__link-item"><a href="#" class="footer__link">Секс куклы</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Мастурбаторы</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Аксессуары</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Смазки/Лубриканты</a></li>
							</ul>
						</div>
					</div>

					<div class="footer__linkster-item">
						{{> ui/button mode="catalog-drop-footer" className="category-btn-js" textClass="" icon="arrow-right"
						text="Наши предложения"}}
						<div class="footer__link-list-box">
							<ul class="footer__link-list">
								<li class="footer__link-item"><a href="#" class="footer__link">Новинки</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Хит продаж</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Распродажа</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Рекомендуем</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Уцененные товары</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Производители</a></li>
							</ul>
						</div>
					</div>

					<div class="footer__linkster-item">
						{{> ui/button mode="catalog-drop-footer" className="category-btn-js" textClass="" icon="arrow-right"
						text="Помощь и сервисы"}}
						<div class="footer__link-list-box">
							<ul class="footer__link-list footer__link-list--columns">
								<li class="footer__link-item"><a href="#" class="footer__link">О магазине</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Новости</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Как купить</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Доставка и оплата</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Заказать секс куклу</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Инструкции</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Контакты</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">Обратная связь</a></li>
								<li class="footer__link-item"><a href="#" class="footer__link">FAQ</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="footer__communication">
					<div class="footer__communication-item">
						<a href="tel:+74950151340" class="footer__communication-link">
							{{> ui/svg id="phone"}}
							+7 (495) 015-13-40, +7 (495) 015-13-40</a>
					</div>
					<div class="footer__communication-item">
						<a href="#" class="footer__communication-link footer__communication-link--social">
							{{> ui/svg id="WA-gray"}}
							WhatsApp</a>
					</div>
					<div class="footer__communication-item">
						<a href="#" class="footer__communication-link footer__communication-link--social">
							{{> ui/svg id="TG"}}
							Telegram</a>
					</div>
					<div class="footer__communication-item">
						<a href="mailto:info@sexdollshop.ru" class="footer__communication-link footer__communication-link--social">
							{{> ui/svg id="mail"}}
							info@sexdollshop.ru</a>
					</div>
					<div class="footer__communication-item">
						<a href="#" class="footer__communication-link footer__communication-link--pointer">
							{{> ui/svg id="calendar"}}
							Пн—Пт: с 10:00 до 19:00, Сб—Вс: Выходной</a>
					</div>
				</div>
			</div>
			<div class="footer__copyright">
				<div class="footer__copyright-logo-box">
					{{> components/logo footer="true" }}
					<div class="footer__copyright-text">
						Copyright 2014-2024 © sexdollshop.ru — интернет-магазин реалистичных секс кукол и мастурбаторов. SexDollShop
						предназначен исключительно для лиц старше 18 лет! Все права защищены.
					</div>
				</div>
				<div class="footer__copyright-right">
					<div class="footer__copyright-social">
						<a href="#" class="footer__copyright-social-link">
							{{> ui/svg id="VK-circle"}}
						</a>
						<a href="#" class="footer__copyright-social-link">
							{{> ui/svg id="YTB-circle"}}
						</a>
						<a href="#" class="footer__copyright-social-link">
							{{> ui/svg id="TG-circle"}}
						</a>
						<a href="#" class="footer__copyright-social-link">
							{{> ui/svg id="DZ-circle"}}
						</a>
					</div>
					<div class="footer__copyright-note">
						+18
					</div>
				</div>
			</div>
		</div>
		<!-- ./ End of wrap -->
	</div>
</footer>
<!-- ./ End of footer -->