<!-- header -->
<header class="header {{#if modificate}} header--{{modificate}}{{/if}} scroll-active-js">
	{{> sections/bar }}
	<div class="container">
		<!-- wrap -->
		<div class="header__wrap add-content-js" data-media="768" data-class="header__catalog-mobile catalog-mobile-js">
			<div class="header__menu">
				<div class="header__logo-box">
					<div class="header__burger">
						<button class="button burger burger-js"></button>
					</div>
					{{> components/logo }}
					<div class="header__logo-text">Интернет-магазин реалистичных секс кукол и мастурбаторов</div>
				</div>

				<div class="header__catalog-box parent-js">
					<div class="header__catalog-btn">
						{{> ui/button mode="catalog" className="catalog-btn-js" textClass="button--text-gradient" icon="burger"
						text="Каталог"}}
					</div>

					<div class="drop drop-js">
						<ul class="drop__buttons">
							<li class="drop__list-item category-parent-js" data-class="header__mob-link-list link-list-js">
								{{> ui/button mode="catalog-drop" className="category-btn-js" textClass="" icon="arrow-right" text="Секс
								куклы"}}
							</li>
							<li class="drop__list-item category-parent-js" data-class="header__mob-link-list link-list-js">
								{{> ui/button mode="catalog-drop" className="category-btn-js" textClass="" icon="arrow-right"
								text="Мастурбаторы"}}
							</li>
							<li class="drop__list-item category-parent-js" data-class="header__mob-link-list link-list-js">
								{{> ui/button mode="catalog-drop" className="category-btn-js" textClass="" icon="arrow-right"
								text="Аксессуары"}}
							</li>
							<li class="drop__list-item category-parent-js" data-class="header__mob-link-list link-list-js">
								{{> ui/button mode="catalog-drop" className="category-btn-js" textClass="" icon="arrow-right"
								text="Смазки/Лубриканты"}}
							</li>
						</ul>

						<ul class="drop__catalog products-js">
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Реалистичные секс куклы
									(<span class="drop__count-position">2391</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы с пышными
									формами (<span class="drop__count-position">201</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Японские секс куклы
									(<span class="drop__count-position">5</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы Real Doll
									(<span class="drop__count-position">60</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Дорогие секс куклы
									(<span class="drop__count-position">678</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Силиконовые секс куклы
									(<span class="drop__count-position">399</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Темнокожие секс куклы
									(<span class="drop__count-position">24</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Аниме (хентай) секс
									куклы (<span class="drop__count-position">259</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Мини секс куклы (<span
										class="drop__count-position">201</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы для женщин
									(<span class="drop__count-position">29</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Головы для секс кукол
									(<span class="drop__count-position">38</span>)</a></li>
						</ul>

						<ul class="drop__catalog products-js">
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Реалистичные секс куклы
									(<span class="drop__count-position">2391</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы с пышными
									формами (<span class="drop__count-position">201</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Японские секс куклы
									(<span class="drop__count-position">5</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы Real Doll
									(<span class="drop__count-position">60</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Дорогие секс куклы
									(<span class="drop__count-position">678</span>)</a></li>
						</ul>

						<ul class="drop__catalog products-js">
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Реалистичные секс куклы
									(<span class="drop__count-position">2391</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы с пышными
									формами (<span class="drop__count-position">201</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Японские секс куклы
									(<span class="drop__count-position">5</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы Real Doll
									(<span class="drop__count-position">60</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Дорогие секс куклы
									(<span class="drop__count-position">678</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Реалистичные секс куклы
									(<span class="drop__count-position">2391</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы с пышными
									формами (<span class="drop__count-position">201</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Японские секс куклы
									(<span class="drop__count-position">5</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы Real Doll
									(<span class="drop__count-position">60</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Дорогие секс куклы
									(<span class="drop__count-position">678</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Реалистичные секс куклы
									(<span class="drop__count-position">2391</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы с пышными
									формами (<span class="drop__count-position">201</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Японские секс куклы
									(<span class="drop__count-position">5</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы Real Doll
									(<span class="drop__count-position">60</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Дорогие секс куклы
									(<span class="drop__count-position">678</span>)</a></li>
						</ul>

						<ul class="drop__catalog products-js">
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Реалистичные секс куклы
									(<span class="drop__count-position">2391</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Секс куклы с пышными
									формами (<span class="drop__count-position">201</span>)</a></li>
							<li class="drop__catalog-item"><a href="#" class="drop__catalog-link">Японские секс куклы
									(<span class="drop__count-position">5</span>)</a></li>
						</ul>
					</div>

					<div class="header__menu-catalog-pages get-content-js">
						{{> components/catalog-links}}
					</div>
				</div>
			</div>

			<div class="header__icons">
				<div class="header__icon-box">
					<button class="button button--null header__icon-link" data-modal-target="#modal-search">
						{{> ui/svg id="search"}}
					</button>
				</div>
				<div class="header__icon-box header__icon-box--favorite">
					<button class="button button--null header__icon-link">
						{{> ui/svg id="favorite"}}
					</button>
				</div>
				<div class="header__icon-box">
					<a href="#" class="header__icon-link">
						{{> ui/svg id="cart"}}
					</a>
				</div>

				<div class="header__icon-box header__icon-box--messanger">
					<a href="#" class="header__icon-link">
						{{> ui/svg id="WA-white"}}
					</a>
				</div>
			</div>
		</div>
		<!-- ./ End of wrap -->
	</div>
	<div class="header__mobile mobile-menu-js">
		<div class="container">
			<div class="header__mobile-menu">
				<div class="header__mobile-menu-body" data-class="header__mobile-category">
					{{> ui/button mode="mobile-catalog-drop" className="header__mobile-catalog-btn mobile-catalog-btn-js"
					icon="arrow-right" text="Каталог"}}

					<div class="header__mobile-catalog-categories-box">
						<ul class="header__mobile-catalog-categories">
							<li class="header__mobile-catalog-item category-parent-js"
								data-class="header__mob-link-list link-list-js">
								{{> ui/button mode="mobile-catalog-drop" className="category-btn-js" textClass="" icon="arrow-right"
								text="Секс
								куклы"}}

								<div class="header__mobile-link-box">
									<ul class="header__mobile-link-list">
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Реалистичные секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы с
												пышными</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Японские секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы Real
												Doll</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Дорогие секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Силиконовые секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Темнокожие секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Аниме (хентай) секс</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Мини секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы для
												женщин</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Головы для секс
												кукол</a></li>
									</ul>
								</div>
							</li>

							<li class="header__mobile-catalog-item category-parent-js"
								data-class="header__mob-link-list link-list-js">
								{{> ui/button mode="mobile-catalog-drop" className="category-btn-js" textClass="" icon="arrow-right"
								text="Мастурбаторы"}}

								<div class="header__mobile-link-box">
									<ul class="header__mobile-link-list">
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Мастурбаторы
												Fleshlight</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Мастурбаторы Tenga
												(тенга)</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Реалистичные
												мастурбаторы</a></li>
									</ul>
								</div>
							</li>

							<li class="header__mobile-catalog-item category-parent-js"
								data-class="header__mob-link-list link-list-js">
								{{> ui/button mode="mobile-catalog-drop" className="category-btn-js" textClass="" icon="arrow-right"
								text="Аксессуары"}}

								<div class="header__mobile-link-box">
									<ul class="header__mobile-link-list">
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Реалистичные секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы с
												пышными</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Японские секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы Real
												Doll</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Дорогие секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Силиконовые секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Темнокожие секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Аниме (хентай) секс</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Мини секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы для
												женщин</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Головы для секс
												кукол</a></li>
									</ul>
								</div>
							</li>

							<li class="header__mobile-catalog-item category-parent-js"
								data-class="header__mob-link-list link-list-js">
								{{> ui/button mode="mobile-catalog-drop" className="category-btn-js" textClass="" icon="arrow-right"
								text="Смазки/лубриканты"}}

								<div class="header__mobile-link-box">
									<ul class="header__mobile-link-list">
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Реалистичные секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы с
												пышными</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Японские секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы Real
												Doll</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Дорогие секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Силиконовые секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Темнокожие секс
												куклы</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Аниме (хентай) секс</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Мини секс куклы</a>
										</li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Секс куклы для
												женщин</a></li>
										<li class="header__mobile-link-item"><a href="#" class="header__mobile-link">Головы для секс
												кукол</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="header__mobile-linkster">
						{{> components/linkster mod="mobile"}}
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- ./ End of header -->