<div class="bar">
	<div class="bar__wrapper">
		<div class="container">
			<div class="bar__body">
				<div class="bar__linker linker-js" data-class="header__linker-bar">
					{{> components/linkster class="bar__list" linkClass="bar__link" }}
				</div>
				<div class="bar__connection">
					<div class="bar__connection-link-box">
						<a href="tel:+7 (495) 015-13-40" class="bar__connection-link">+7 (495) 015-13-40</a>
					</div>
					<div class="bar__connection-link-box">
						<a href="#" class="bar__messenger-link">
							{{> ui/svg id="WA"}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>