<div class="brand-inn">
	<div class="brand-inn__wrapper">
		<div class="brand-inn__content">
			<div class="brand-inn__content-inner">
				<div class="brand-inn__paragraf-box">
					<p class="brand-inn__paragraf">Основанная в 2018 году, компания Jiusheng Doll специализируется на производстве
						исключительно реалистичных секс кукол премиум качества и поразительной реалистичности. Бренд отличает то,
						что
						его владелец — талантливый скульптор, ответственный за создание дизайна не только для собственной продукции,
						но
						и для других известных брендов.<br>Компания стремиться к инновациям и совершенству, предоставлять передовые
						решения, сохраняя при этом самые высокие стандарты качества. Качество – основная ценность бренда.
						Пристальное
						внимание к деталям и строгие процессы контроля гарантируют, что каждая кукла является надежной, долговечной
						и
						высочайшего качества.</p>
					<div class="brand-inn__head">Oscar Jin (Оскар Джин)</div>
					<p class="brand-inn__paragraf">Оскар Цзинь, основатель Jiusheng Doll (JSD), опытный мастер, окончивший
						Академию
						изящных искусств в Гуанчжоу, одну из восьми крупнейших художественных академий Китая. Оскар обладает
						глубокими
						художественными знаниями и талантом и начал свою карьеру в лепке из воска в 2008 году, создавая реалистичные
						и
						потрясающие работы.Позже он увлекся индустрией кукол для взрослых и решил открыть собственный бренд.
						Большинство
						кукол Jiusheng Doll были созданы им. Кроме того, он сотрудничал с другими брендами для создания некоторых
						широко
						известных моделей, которые очень полюбились покупателям.<br>Художественное мастерство и исключительный
						талант
						Оскара помогли ему получить высокое признание в индустрии, а его работы пользуются большим спросом среди
						коллекционеров. Его непоколебимое стремление к совершенству и стремление создавать работы высочайшего
						качества
						сделали его выдающимся мастером в мире искусства.</p>
				</div>
				<div class="brand-inn__video-box">
					<img src="../../img/brand/card.jpg" alt="">
				</div>
				<div class="brand-inn__paragraf-box">
					<p class="brand-inn__paragraf">Оскар Цзинь, основатель Jiusheng Doll (JSD), опытный мастер, окончивший
						Академию
						изящных искусств в Гуанчжоу, одну из восьми крупнейших художественных академий Китая. Оскар обладает
						глубокими
						художественными знаниями и талантом и начал свою карьеру в лепке из воска в 2008 году, создавая реалистичные
						и
						потрясающие работы.Позже он увлекся индустрией кукол для взрослых и решил открыть собственный бренд.
						Большинство
						кукол Jiusheng Doll были созданы им. Кроме того, он сотрудничал с другими брендами для создания некоторых
						широко
						известных моделей, которые очень полюбились покупателям.<br>Художественное мастерство и исключительный
						талант
						Оскара помогли ему получить высокое признание в индустрии, а его работы пользуются большим спросом среди
						коллекционеров. Его непоколебимое стремление к совершенству и стремление создавать работы высочайшего
						качества
						сделали его выдающимся мастером в мире искусства.</p>
				</div>
				<div class="brand-inn__slider">
					<div class="swiper swiper--overflow slider-brand-js">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<picture class="brand-inn__item-picture">
									<source media="(max-width: 568px)" srcset="../../img/brand/img.webp" type="image/webp">
									<source srcset="../../img/brand/img.webp">
									<img srcset="../../img/brand/img.jpg" alt="">
								</picture>
							</div>
							<div class="swiper-slide">
								<picture class="brand-inn__item-picture">
									<source media="(max-width: 568px)" srcset="../../img/brand/img.webp" type="image/webp">
									<source srcset="../../img/brand/img.webp">
									<img srcset="../../img/brand/img.jpg" alt="">
								</picture>
							</div>
							<div class="swiper-slide">
								<picture class="brand-inn__item-picture">
									<source media="(max-width: 568px)" srcset="../../img/brand/img.webp" type="image/webp">
									<source srcset="../../img/brand/img.webp">
									<img srcset="../../img/brand/img.jpg" alt="">
								</picture>
							</div>
							<div class="swiper-slide">
								<picture class="brand-inn__item-picture">
									<source media="(max-width: 568px)" srcset="../../img/brand/img.webp" type="image/webp">
									<source srcset="../../img/brand/img.webp">
									<img srcset="../../img/brand/img.jpg" alt="">
								</picture>
							</div>
							<div class="swiper-slide">
								<picture class="brand-inn__item-picture">
									<source media="(max-width: 568px)" srcset="../../img/brand/img.webp" type="image/webp">
									<source srcset="../../img/brand/img.webp">
									<img srcset="../../img/brand/img.jpg" alt="">
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="brand-inn__more">
			<button class="button button--null under-dotted brand-inn__more-btn btn-more-js">Показать все параметры</button>
		</div>
	</div>
</div>