<section class="default-section default-section--top2 default-section--bottom1 default-section--mobile-only">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner default-section__inner--column default-section__inner--gap3">
				<div class="default-section__head">
					{{> components/breadcrumbs item3="true" link1="sexdollshop" link2="бренды" link3="Jiusheng Doll" }}
					<div class="default-section__title default-section__title--flex2">
						<picture class="default-section__picture">
							<source media="(max-width: 568px)" srcset="../../img/brand/zelex.webp" type="image/webp">
							<source srcset="../../img/brand/zelex.webp">
							<img srcset="../../img/brand/zelex.png" alt="Доготип бренда">
						</picture>
						<h4 class="h4">Товары Jiusheng Doll</h4>
					</div>
				</div>
				<div class="default-section__body default-section__body--column default-section__body--gap2">
					{{> sections/brand-inn }}
					{{> components/filter-navigate }}
				</div>
			</div>
		</div>
	</div>
</section>