<section class="default-section default-section--cards">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner">
				<div class="cards">
					<div class="cards__wrapper">
						{{> components/cards-row flex="flex" scroll="scroll" countNum="0" titleText="В наличии" button="true"
						inHave="true"}}
						{{> components/cards-row flex="flex" scroll="scroll" countNum="0" titleText="Новинки" button="true"
						newProducts="true"}}
						{{> components/cards-row flex="flex" scroll="scroll" countNum="0" titleText="Хит продаж" button="true"
						hitSales="true"}}
						{{> components/cards-row flex="flex" scroll="scroll" countNum="0" titleText="Распродажа" button="true"
						sellout="true"}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>