<div class="catalog-inn">
	<div class="catalog-inn__wrapper">
		<div class="catalog-inn__body">
			<div class="catalog-inn__categories">
				<div class="catalog-inn__category">
					<button class="button button--null category-page-js active">Секс куклы
						<span>(<span>2567</span>)</span></button>
					<div class="catalog-inn__list-box active">
						<ul class="catalog-inn__list">
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Реалистичные секс куклы
									<span>(<span>2391</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Секс куклы с пышными формами
									<span>(<span>201</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Японские секс куклы
									<span>(<span>5</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Секс куклы Real Doll
									<span>(<span>60</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Секс куклы с большой грудью
									<span>(<span>349</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Дорогие секс куклы
									<span>(<span>678</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Силиконовые секс куклы
									<span>(<span>399</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Темнокожие секс куклы
									<span>(<span>29</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Аниме (хентай) секс куклы
									<span>(<span>259</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Мини секс куклы
									<span>(<span>201</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Секс куклы для женщин
									<span>(<span>29</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Головы для секс кукол
									<span>(<span>38</span>)</span></a></li>
						</ul>
					</div>
				</div>

				<div class="catalog-inn__category">
					<button class="button button--null category-page-js active">Мастурбаторы
						<span>(<span>2567</span>)</span></button>
					<div class="catalog-inn__list-box active">
						<ul class="catalog-inn__list">
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Мастурбаторы Fleshlight
									<span>(<span>2391</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Мастурбаторы Tenga (тенга)
									<span>(<span>201</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Реалистичные мастурбаторы
									<span>(<span>5</span>)</span></a></li>
						</ul>
					</div>
				</div>

				<div class="catalog-inn__category">
					<button class="button button--null category-page-js active">Аксессуары
						<span>(<span>2567</span>)</span></button>
					<div class="catalog-inn__list-box active">
						<ul class="catalog-inn__list">
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link disabled" disabled>Белье для секс
									кукол
									<span>(<span>0</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link disabled" disabled>Парики для секс
									кукол
									<span>(<span>0</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Ремонт и обслуживание секс кукол
									<span>(<span>5</span>)</span></a></li>
						</ul>
					</div>
				</div>

				<div class="catalog-inn__category">
					<button class="button button--null category-page-js">Смазки/Лубриканты <span>(<span>8</span>)</span></button>
					<div class="catalog-inn__list-box">
						<ul class="catalog-inn__list">
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link disabled" disabled>Белье для секс
									кукол
									<span>(<span>0</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link disabled" disabled>Парики для секс
									кукол
									<span>(<span>0</span>)</span></a></li>
							<li class="catalog-inn__link-item"><a href="#" class="catalog-inn__link">Ремонт и обслуживание секс кукол
									<span>(<span>5</span>)</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="catalog-inn__cards">
				<div class="catalog-inn__cards-block">
					{{> components/cards-row newProducts8="true" button="true" emptyHead="true"}}
				</div>
				<div class="catalog-inn__cards-block">
					{{> components/cards-row newProducts8="true" titleCount="true" titleText="Новые товары" countNum="851"
					button="true"}}
				</div>
			</div>
		</div>
	</div>
</div>