<section class="default-section default-section--top2 default-section--bottom1 default-section--mobile-only">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner">
				<div class="default-section__head">
					{{> components/breadcrumbs item2="true" link1="sexdollshop" link2="каталог"}}
				</div>
				<div class="default-section__body default-section__body--column default-section__body--gap2">
					{{> sections/catalog-inn }}
				</div>
			</div>
		</div>
	</div>
</section>