<div class="comparison-inn">
	<div class="comparison-inn__wrapper comparison-inn__wrapper--column comparison-inn__wrapper--gap">
		<div class="comparison-inn__param">
			<div class="comparison-inn__param-head">Только различающиеся параметры</div>
			<div class="">
				<label class="switcher">
					<input class="switcher__input" type="checkbox" />
					<div class="switcher__wrap">
						<div class="switcher__custom-wrapper">
							<div class="switcher__custom"></div>
						</div>
					</div>
				</label>
			</div>
		</div>
		<div class="comparison-inn__sliders-wrapper">
			<div class="comparison-inn__sliders-top comparison-js comparison2-js">
				<div class="comparison-inn__slider-box comparison-inn__slider-box--left">
					<div class="comparison-inn__swiper swiper swiper--overflow swiper-comparison-1-js">
						<div class="comparison-inn__swiper-wrapper swiper-wrapper">
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
						</div>
						<div class="comparison-inn__navigate">
							<button class="button button--null comparison-inn__nav-btn comparison-inn__nav-btn--prev btn-prev-js">
								{{> ui/svg id="arrow-right-g"}}
							</button>
							<div class="swiper-pagination swiper-pagination-js"></div>
							<button class="button button--null comparison-inn__nav-btn comparison-inn__nav-btn--next btn-next-js">
								{{> ui/svg id="arrow-right-g"}}
							</button>
						</div>
					</div>
				</div>

				<div class="comparison-inn__slider-box comparison-inn__slider-box--right">
					<div class="comparison-inn__swiper swiper swiper--overflow swiper-comparison-2-js">
						<div class="comparison-inn__swiper-wrapper swiper-wrapper">
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<div class="comparison-inn__slide-picture-box">
										{{> components/card comparison="true"}}
									</div>
								</div>
							</div>
						</div>
						<div class="comparison-inn__navigate">
							<button class="button button--null comparison-inn__nav-btn comparison-inn__nav-btn--prev btn-prev-js">
								{{> ui/svg id="arrow-right-g"}}
							</button>
							<div class="swiper-pagination swiper-pagination-js"></div>
							<button class="button button--null comparison-inn__nav-btn comparison-inn__nav-btn--next btn-next-js">
								{{> ui/svg id="arrow-right-g"}}
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="comparison-inn__sliders-discript">
				<div class="comparison-inn__slider-box comparison-inn__slider-box--left">
					<div class="comparison-inn__swiper swiper swiper--overflow slider-discript-1-js">
						<div class="comparison-inn__swiper-wrapper swiper-wrapper">
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pd1">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет кожи1
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет глаз
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет волос
												</td>
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Материал
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Вес
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pd1">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет кожи2
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет глаз
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет волос
												</td>
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Материал
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Вес
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pd1">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет кожи3
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет глаз
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет волос
												</td>
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Материал
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Вес
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pd1">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет кожи4
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет глаз
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет волос
												</td>
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Материал
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Вес
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pd1">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет кожи5
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет глаз
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет волос
												</td>
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Материал
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Вес
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pd1">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет кожи6
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет глаз
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Цвет волос
												</td>
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Материал
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Вес
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr">
												<td class="comparison-inn__td comparison-inn__td--head">
													Комплактация
												</td>
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="comparison-inn__slider-box comparison-inn__slider-box--right">
					<div class="comparison-inn__swiper swiper swiper--overflow slider-discript-2-js">
						<div class="comparison-inn__swiper-wrapper swiper-wrapper">
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pl1 comparison-inn__tr--pd1">
												<td class="comparison-inn__td">
													Темный1
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pl1 comparison-inn__tr--pd1">
												<td class="comparison-inn__td">
													Темный2
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pl1 comparison-inn__tr--pd1">
												<td class="comparison-inn__td">
													Темный3
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pl1 comparison-inn__tr--pd1">
												<td class="comparison-inn__td">
													Темный4
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pl1 comparison-inn__tr--pd1">
												<td class="comparison-inn__td">
													Темный5
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="comparison-inn__swiper-slide swiper-slide">
								<div class="comparison-inn__slide-content">
									<table class="comparison-inn__table">
										<tbody class="comparison-inn__tbody">
											<tr class="comparison-inn__tr comparison-inn__tr--pl1 comparison-inn__tr--pd1">
												<td class="comparison-inn__td">
													Темный6
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													—
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
											<tr class="comparison-inn__tr comparison-inn__tr--pl1">
												<td class="comparison-inn__td">
													Темный
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>