<section class="default-section default-section--top2 default-section--pb0 default-section--mobile-only">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner default-section__inner--column default-section__inner--gap2">
				<div class="default-section__head">
					{{> components/breadcrumbs item2="true" link1="sexdollshop" link2="корзина" }}
					<div class="default-section__title default-section__title--flex">
						<h4 class="h4">Список сравнения (<span>6</span>)</h4>
						<button class="button button--null button--font-g button--fs-1 under-dotted">Очистить все</button>
					</div>
				</div>
				<div class="default-section__body">
					{{> sections/comparison-inn}}
				</div>
				<div class="default-section__footer">
				</div>
			</div>
		</div>
	</div>
</section>