<section class="default-section default-section--gradient">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner default-section__inner--column default-section__inner--gap1">
				{{#if titleCount}}
				<div class="default-section__head">
					<div class="h3 default-section__title">{{titleText}}
						<span class="default-section__title-count">{{countNum}}</span>
					</div>
				</div>
				{{else}}
				<div class="default-section__head">
					<div class="h3 default-section__title">{{titleText}}</div>
				</div>
				{{/if}}

				<div class="default-section__body">
					<div class="manufacturers">
						<div class="manufacturers__row">
							<div class="manufacturers__cell manufacturers__cell--1">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture1.webp">
									<img srcset="../../img/manufacturers/manufacture1.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--2">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture2.webp">
									<img srcset="../../img/manufacturers/manufacture2.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--3">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture3.webp">
									<img srcset="../../img/manufacturers/manufacture3.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--4">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture1.webp">
									<img srcset="../../img/manufacturers/manufacture1.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--5">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture2.webp">
									<img srcset="../../img/manufacturers/manufacture2.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--6">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture3.webp">
									<img srcset="../../img/manufacturers/manufacture3.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--7">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture1.webp">
									<img srcset="../../img/manufacturers/manufacture1.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--8">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture2.webp">
									<img srcset="../../img/manufacturers/manufacture2.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--9">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture3.webp">
									<img srcset="../../img/manufacturers/manufacture3.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--10">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture1.webp">
									<img srcset="../../img/manufacturers/manufacture1.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--11">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture2.webp">
									<img srcset="../../img/manufacturers/manufacture2.jpg" alt="Логотип производителя">
								</picture>
							</div>

							<div class="manufacturers__cell manufacturers__cell--12">
								<picture class="manufacturers__picture">
									<source srcset="../../img/manufacturers/manufacture3.webp">
									<img srcset="../../img/manufacturers/manufacture3.jpg" alt="Логотип производителя">
								</picture>
							</div>
						</div>
					</div>
				</div>

				<div class="default-section__footer default-section__footer--column default-section__footer--gap1">
					<div class="default-section__button default-section__button--center">
						{{> ui/button mode="card" textClass="button--text-gradient" text="Показать больше"}}
					</div>
					{{> components/banner }}
				</div>
			</div>
		</div>
	</div>
	</div>
</section>