<section class="default-section default-section--top2 default-section--bottom1 default-section--mobile-only">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner">
				<div class="default-section__body">
					{{> components/breadcrumbs item2="true" link1="sexdollshop" link2="оформление заказа" }}
					{{> sections/confirm }}
				</div>
			</div>
		</div>
	</div>
</section>