<section class="default-section default-section--bg-dark default-section--prefooter2">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner">
				<div class="default-section__body">
					<div class="other">
						<div class="other__wrapper">
							<div class="other__block-desk">
								{{> components/cards-row dark="true" flex="flex" scroll="scroll" titleCount="true"
								titleText="Похожие товары" countNum="81" button="true" modTitleColor="color"}}
							</div>
							<div class="other__block-mobile">
								{{> components/cards-row dark8="true" type="type" flex="flex" scroll="scroll" titleCount="true"
								titleText="Похожие товары" countNum="81" button="true" modTitleColor="color"}}
							</div>
							{{> components/cards-row dark="true" flex="flex" scroll="scroll" titleCount="true"
							titleText="Новинки" countNum="81" button="true" modTitleColor="color"}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>