<section class="default-section default-section--top2 default-section--bottom1 for-sticky-js">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner">
				{{> components/breadcrumbs item3="true" link1="sexdollshop" link2="секс куклы" link3="секс кукла Meril 172 SLE
				Silicone" }}
				<div class="product-card ">
					<div class="product-card__wrapper">
						<div class="product-card__left">
							<div class="product-card__main for-sticky-js">
								{{> components/card-slider}}
								{{> components/card-info}}
							</div>
							<div class="product-card__tabs">
								{{> components/card-tabs}}
							</div>
							<div class="product-card__incart ">
								<div class="product-card__incart-box sticky-js">
									<button class="button button--type2 text-uppercase">{{> ui/svg id="cart-white"}} В
										корзину</button>
								</div>
							</div>
							<div class="product-card__expo end-sticky-js">
								{{> components/video-block}}
							</div>
							<div class="product-card__row">
								{{> components/cards-row fourItems="true" flex="flex" scroll="scroll" titleCount="true"
								titleText="Коллекция IR Doll Body Collection" countNum="81"}}
							</div>
						</div>
						<div class="product-card__right">
							{{> components/user-actions}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>