<section class="default-section default-section--top default-section--container">
	<div class="default-section__wrapper">
		<div class="container">
			<div class="default-section__inner">
				<div class="top-slider swiper top-swiper-js">
					<div class="top-slider__container swiper-wrapper swiper-wrapper-js">
						<div class="top-slider__slide swiper-slide swiper-slide-js">
							<div class="top-slider__slide-content">
								<picture class="top-slider__picture">
									<source media="(max-width: 568px)" srcset="../../img/top/slide-mob1.webp" type="image/webp">
									<source srcset="../../img/top/slide1.webp">
									<img srcset="../../img/top/slide1.jpg" alt="Рекламное изображение">
								</picture>
							</div>
						</div>

						<div class="top-slider__slide swiper-slide swiper-slide-js">
							<div class="top-slider__slide-content">
								<picture class="top-slider__picture">
									<source media="(max-width: 568px)" srcset="../../img/top/slide-mob1.webp" type="image/webp">
									<source srcset="../../img/top/slide1.webp">
									<img srcset="../../img/top/slide1.jpg" alt="Рекламное изображение">
								</picture>
							</div>
						</div>

						<div class="top-slider__slide swiper-slide swiper-slide-js">
							<div class="top-slider__slide-content">
								<picture class="top-slider__picture">
									<source media="(max-width: 568px)" srcset="../../img/top/slide-mob1.webp" type="image/webp">
									<source srcset="../../img/top/slide1.webp">
									<img srcset="../../img/top/slide1.jpg" alt="Рекламное изображение">
								</picture>
							</div>
						</div>
					</div>
					{{> ui/slider-btn mod="top" classPrev="btn-prev-js" classNext="btn-next-js"
					absolute="absolute" }}
					<div class="slider-paginate slider-paginate--absolute swiper-pagination-js"></div>
				</div>
			</div>
		</div>
	</div>
</section>