<div id="modal-about-good"
	class="modal-wrapper modal-wrapper--overflow modal-wrapper--transparent-bg modal-wrapper--full" data-modal
	data-modal-curtain>
	<div
		class="modal modal--btn-absolute modal--transparent-md modal--medium2 modal--valign-b modal--padding2 modal--no-padding2">
		<button class="button button--null modal__md-hide modal__md-hide button-close j_closeModal">{{> ui/svg
			id="close"}}</button>

		<div class="modal__wrap modal__wrap--height modal__wrap--radius" data-curtain>
			<button class="button button--null modal__curtain-toutcher" data-curtain-toutcher></button>
			<div class="modal__body modal__body--button-mod modal__body--no-padding">
				<div class="modal__table-box" data-scroll-lock-scrollable>
					<table class="modal__table">
						<tbody class="modal__tbody">
							<tr class="modal__tr">
								<td class="modal__td">Силикон</td>
								<td class="modal__td">Улучшенный SLE</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Челюсть</td>
								<td class="modal__td">Подвижная</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Скелет</td>
								<td class="modal__td">EXP</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Плечи</td>
								<td class="modal__td">Подвижные</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ноги</td>
								<td class="modal__td">Устойчивые</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Пальцы на руках</td>
								<td class="modal__td">Шарнирные</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Грудь</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
							<tr class="modal__tr">
								<td class="modal__td">Ягодицы</td>
								<td class="modal__td">Гелевые вставки</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>