<div id="modal-brand" class="modal-wrapper modal-wrapper--full modal-wrapper--example" data-modal>
	<div class="modal modal--full modal--no-padding2">
		<div class="modal__wrap">
			<div class="modal__header">
				<button class="button button--null button-close j_closeModal">{{> ui/svg id="close"}}</button>
				Бренд
			</div>

			<div class="modal__body modal__body--brand">
				<picture class="modal__picture">
					<source srcset="../../img/brand/btand-logo.webp">
					<img srcset="../../img/brand/btand-logo.png" alt="Логотип бренда">
				</picture>
				<div class="modal__content">
					<p class="modal__text">Zelex — китайская компания, специализирующаяся на разработке и производстве супер
						реалистичных секс-кукол из силикона. Бренд Зелекс был создан в 2017 году. На данный момент фабрика занимает
						более 3000 квадратных метров на которых расположены собственные отделы:</p>
					<ul class="modal__list">
						<li class="modal__list-item">Дизайна (включая 3D-дизайн, лепку, дизайн макияжа, дизайн и укладку волос)</li>
						<li class="modal__list-item">Исследования и разработки (включая новые технологии, материалы и методы)</li>
						<li class="modal__list-item">Производственные и сборочные (изготовление форм, производство скелетов)</li>
					</ul>
					<p class="modal__text">Профессиональная команда ежедневно работает над созданием новых моделей и улучшением
						уже созданных.</p>
					<p class="modal__text">Благодаря исключительному вниманию к деталям и непревзойденному мастерству, куклы Zelex
						идеально подойдут тем, кто стремиться получить превосходное качество по оптимальной цене.
						На данный момент ассортимент разделен на 2 коллекции: SLE и Inspiration.</p>
					<p class="modal__text">Зелекс использует в производстве только высококачественные материалы, безопасность
						которых подтверждается сертификатами качества.
						Куклы упаковываются картонные коробки из прочного многослойного картона. Внутри расположен ложемент, который
						надежно фиксирует куклу и защищает от повреждений.</p>
					<p class="modal__text">Магазин Sexdollshop является официальным дилером Zelex Doll на территории России.</p>
				</div>
				{{> components/cards-row flex="flex" newProductsModal="true"}}
			</div>

			<div class="modal__footer">
				<button class="button button--null button--type2 text-uppercase">показать все товары бренда</button>
			</div>
		</div>
	</div>
</div>