<div id="modal-materials" class="modal-wrapper modal-wrapper--full modal-wrapper--example" data-modal>
	<div class="modal modal--full modal--no-padding2">
		<div class="modal__wrap">
			<div class="modal__header">
				<button class="button button--null button-close j_closeModal">{{> ui/svg id="close"}}</button>
				Дополнительные материалы
			</div>

			<div class="modal__body">
				<div class="modal__content modal__content--padding">
					{{> components/materials}}
				</div>
			</div>
		</div>
	</div>
</div>