<div id="modal-order-verify" class="modal-wrapper modal-wrapper--transparent-bg modal-wrapper--example" data-modal>
	<div class="modal modal--medium2 modal--valign-b modal--no-padding2">
		<div class="modal__wrap">

			<div
				class="modal__body modal__body--column modal__body--gap modal__body--button-mod modal__body--mod modal__body--no-padding">
				<div class="modal__text modal__text--mini">Для подтверждения заказа перейдите в мессенджер</div>

				<a href="#" class="button button--null button--black text-uppercase" target="_blank">
					{{> ui/svg id="telegram-icon"}}
					перейти в telegram
				</a>
				<a href="#" class="button button--null button--black text-uppercase" target="_blank">
					{{> ui/svg id="WA-cc"}}
					перейти в WhatsApp
				</a>
			</div>
		</div>
	</div>
</div>