<div id="modal-write" class="modal-wrapper modal-wrapper--full modal-wrapper--example" data-modal>
	<div class="modal modal--full modal--no-padding2">
		<div class="modal__wrap">
			<div class="modal__header">
				<button class="button button--null button-close j_closeModal">{{> ui/svg id="close"}}</button>
				Отзывы <span>(2)</span>
			</div>
			<div class="modal__body">
				<div class="modal__content">
					<div class="modal__message">Пока нет отзывов</div>
					{{> components/write selectVar1="true" active="active" centerStars="true" modal="true"}}
				</div>
			</div>
		</div>
	</div>
</div>