<!DOCTYPE html>
<html data-theme="light" class="page page--{{ title }}" {{#if isDev }} data-dev {{/if}}>

<head>
	{{> layouts/head }}

	<title>{{ title }}</title>
</head>

<body>
	<div class="content">

		<main>
			{{> sections/filtre-page }}
		</main>

	</div>

	{{> layouts/modals }}
</body>

</html>