.grid {
  --gap: 24px; // 24px
  --gap-minus: -24px;
  --offset: 0;
  --offset-minus: 0;

  display: flex;
  row-gap: var(--gap);
  margin-right: var(--offset-minus);
  margin-left: var(--offset-minus);

  &--wrap {
    flex-wrap: wrap;
  }

  &--center {
    @media (max-width: $breakpoint-lg) {
      justify-content: center;
    }
  }

  @include max-width($breakpoint-md) {
    --gap: 12px; // 24px
    --gap-minus: -12px;
    --offset: 6px;
    --offset-minus: 0;
  }

  &__cell {
    width: 100%;

    &--1 {
      width: calc(100% / 12 * 1 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--2 {
      width: calc(100% / 12 * 2 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--3 {
      width: calc(100% / 12 * 3 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--4 {
      width: calc(100% / 12 * 4 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--5 {
      width: calc(100% / 12 * 5 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--6 {
      width: calc(100% / 12 * 6 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--7 {
      width: calc(100% / 12 * 7 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--8 {
      width: calc(100% / 12 * 8 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--9 {
      width: calc(100% / 12 * 9 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--10 {
      width: calc(100% / 12 * 10 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--11 {
      width: calc(100% / 12 * 11 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--12 {
      width: calc(100% / 12 * 12 - var(--gap));
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    &--auto {
      width: auto;
      margin-right: var(--offset);
      margin-left: var(--offset);
    }

    @include max-width($breakpoint-xl) {
      &--1-xl {
        width: calc(100% / 12 * 1 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--2-xl {
        width: calc(100% / 12 * 2 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--3-xl {
        width: calc(100% / 12 * 3 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--4-xl {
        width: calc(100% / 12 * 4 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--5-xl {
        width: calc(100% / 12 * 5 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--6-xl {
        width: calc(100% / 12 * 6 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--7-xl {
        width: calc(100% / 12 * 7 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--8-xl {
        width: calc(100% / 12 * 8 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--9-xl {
        width: calc(100% / 12 * 9 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--10-xl {
        width: calc(100% / 12 * 10 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--11-xl {
        width: calc(100% / 12 * 11 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--12-xl {
        width: calc(100% / 12 * 12 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }
    }

    @include max-width($breakpoint-lg) {
      &--1-lg {
        width: calc(100% / 12 * 1 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--2-lg {
        width: calc(100% / 12 * 2 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--3-lg {
        width: calc(100% / 12 * 3 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--4-lg {
        width: calc(100% / 12 * 4 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--5-lg {
        width: calc(100% / 12 * 5 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--6-lg {
        width: calc(100% / 12 * 6 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--7-lg {
        width: calc(100% / 12 * 7 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--8-lg {
        width: calc(100% / 12 * 8 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--9-lg {
        width: calc(100% / 12 * 9 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--10-lg {
        width: calc(100% / 12 * 10 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--11-lg {
        width: calc(100% / 12 * 11 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--12-lg {
        width: calc(100% / 12 * 12 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }
    }

    @include max-width($breakpoint-md) {
      &--1-md {
        width: calc(100% / 12 * 1 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--2-md {
        width: calc(100% / 12 * 2 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--3-md {
        width: calc(100% / 12 * 3 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--4-md {
        width: calc(100% / 12 * 4 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--5-md {
        width: calc(100% / 12 * 5 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--6-md {
        width: calc(100% / 12 * 6 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--7-md {
        width: calc(100% / 12 * 7 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--8-md {
        width: calc(100% / 12 * 8 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--9-md {
        width: calc(100% / 12 * 9 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--10-md {
        width: calc(100% / 12 * 10 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--11-md {
        width: calc(100% / 12 * 11 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--12-md {
        width: calc(100% / 12 * 12 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--auto-md {
        width: auto;
      }
    }

    @include max-width($breakpoint-sm) {
      &--1-sm {
        width: calc(100% / 12 * 1 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--2-sm {
        width: calc(100% / 12 * 2 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--3-sm {
        width: calc(100% / 12 * 3 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--4-sm {
        width: calc(100% / 12 * 4 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--5-sm {
        width: calc(100% / 12 * 5 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--6-sm {
        width: calc(100% / 12 * 6 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--7-sm {
        width: calc(100% / 12 * 7 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--8-sm {
        width: calc(100% / 12 * 8 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--9-sm {
        width: calc(100% / 12 * 9 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--10-sm {
        width: calc(100% / 12 * 10 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--11-sm {
        width: calc(100% / 12 * 11 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--12-sm {
        width: calc(100% / 12 * 12 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--auto-sm {
        width: auto;
      }
    }

    @include max-width($breakpoint-xs) {
      &--1-xs {
        width: calc(100% / 12 * 1 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--2-xs {
        width: calc(100% / 12 * 2 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--3-xs {
        width: calc(100% / 12 * 3 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--4-xs {
        width: calc(100% / 12 * 4 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--5-xs {
        width: calc(100% / 12 * 5 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--6-xs {
        width: calc(100% / 12 * 6 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--7-xs {
        width: calc(100% / 12 * 7 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--8-xs {
        width: calc(100% / 12 * 8 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--9-xs {
        width: calc(100% / 12 * 9 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--10-xs {
        width: calc(100% / 12 * 10 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--11-xs {
        width: calc(100% / 12 * 11 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--12-xs {
        width: calc(100% / 12 * 12 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--auto-xs {
        width: auto;
      }
    }

    @include max-width($breakpoint-xxs-3) {
      &--1-xxs-3 {
        width: calc(100% / 12 * 1 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--2-xxs-3 {
        width: calc(100% / 12 * 2 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--3-xxs-3 {
        width: calc(100% / 12 * 3 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--4-xxs-3 {
        width: calc(100% / 12 * 4 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--5-xxs-3 {
        width: calc(100% / 12 * 5 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--6-xxs-3 {
        width: calc(100% / 12 * 6 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--7-xxs-3 {
        width: calc(100% / 12 * 7 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--8-xxs-3 {
        width: calc(100% / 12 * 8 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--9-xxs-3 {
        width: calc(100% / 12 * 9 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--10-xxs-3 {
        width: calc(100% / 12 * 10 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--11-xxs-3 {
        width: calc(100% / 12 * 11 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }

      &--12-xxs-3 {
        width: calc(100% / 12 * 12 - var(--gap));
        margin-right: var(--offset);
        margin-left: var(--offset);
      }
    }
  }

  &__row {
    --gap: 24px;
    --gap-minus: -24px;
    --offset: 12px;
    --offset-minus: -12px;

    display: flex;
    flex-wrap: wrap;
    row-gap: var(--gap);
    width: 100%;

    @include max-width($breakpoint-md) {
      --gap: 12px; // 24px
      --gap-minus: -12px;
      --offset: 6px;
      --offset-minus: -6px;
    }
  }

  &--horizontal-scroll {
    @include max-width($breakpoint-sm) {
      flex-wrap: nowrap;
      width: calc(100% + 24px);
      padding: 0 6px;
      margin-left: -12px;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &--gap-mobile-big {
    @include max-width($breakpoint-sm) {
      gap: 24px;
    }
  }

  &--gap-mobile-middle {
    @include max-width($breakpoint-sm) {
      row-gap: 20px;
    }
  }
}
